body{
    font-family: 'roboto',sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}
 a.active
{
    background-color: #088178;
    color: #088178;
}


.sidebar{
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all 0.5s ease;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}


section{
    background: url('../img/bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.5s ;
}

.container{
    height: 100%;
    margin-inline: 1.5rem;
    display: grid;
    place-items: center;
}

.card{
    position: relative;
    margin-top: 30px;
    width: 40%;
    background-color: rgb(23, 25, 26);
    padding: 1.25rem 2rem 3rem;
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 16px hsla(29, 75%, 8%, 0.2);
}


.card__img{
    width: 98%;
    height: 98%;
    border-radius: 50%;
}

.card_border{
    width: 55%;
    height: 60;
    border: 3px solid rgb(248, 162, 3);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 auto 0.75rem;
}

.card_name{
    color: rgb(248, 162, 3);
    font-size: 30px;
    font-weight: 500;
}

.card_role{
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 500;
}

.card_Contact{
    background-color: rgb(248, 162, 3);
    padding: 0.75rem; 
    border-radius: 3rem;
    text-align: initial;
    box-shadow: 0 8px 24px rgb(128, 85, 6);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.75rem;
    margin: 0 auto;
    overflow: hidden;
    transform-origin: 18px 17px;
}

.card_Contact-control{
    position: relative;
    transform-origin: 18px 17px;
}

.card-social-toggle{
    display: inline-block;
    background-color: rgb(23, 25, 26);
    color: rgb(248, 162, 3);
    font-size: 1.25rem;
    padding: 0.2rem;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.card_Contact-text{
    display: block;
    color: rgb(23, 25, 26);
    font-size: 1.2rem;
    font-weight: 500;
}

.card_Contact-list{
    display: inline-flex;
    column-gap: 0.75rem;
}

.card_Contact-link{
    display: inline-flex;
    background-color: rgb(248, 162, 3);
    color: rgb(23, 25, 26);
    font-size: 1rem;
    padding: 7px;
    transform-origin: 18px 18px;
}

.card_Contact-text,
.card_Contact-list{
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    padding-left: 2.1rem;
}

.card_Contact-text{
    top: 0.2rem;
}