body {
    font-family: 'roboto', sans-serif;
    max-width: 1920px;
    max-height: 1080px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a.active {
    background-color: #088178;
    color: #088178;
}


.sidebar {
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all 0.5s ease;
    z-index: 1;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}


section {
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.5s;
}

.container {
    margin-left: 250px;
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    padding: 20px;
    padding-top: 90px;
    height: 800px;
    width: 100%;
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

.card_border {
    background: linear-gradient(to right, #ee5a6f, #f29263);
    display: flex;
    flex-direction: column;

    border-top-left-radius:6px ;
    border-bottom-left-radius:6px ;
}

.card_border .img-info{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: -30px;
    
} 

.card_border img {
    width: 340px;
    height: 340px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    box-shadow: -1px 2px 20px 5px rgb(168 162 162 / 94%);
    -webkit-box-shadow: -1px 2px 20px 5px rgb(168 162 162 / 94%);
    -moz-box-shadow: -1px 2px 20px 5px rgba(168, 162, 162, 0.94);
}

.card_border .name-role{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.card_border .name-role h3{
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 40px 40px 40px;
    line-height: 30px;
    border: 1px solid #ccc;
    border-top-right-radius: 6px;
    border-bottom-right-radius:6px ;
    box-shadow: -1px 2px 20px 5px rgba(168, 162, 162, 0.94);
    -webkit-box-shadow: -1px 2px 20px 5px rgba(168, 162, 162, 0.94);
    -moz-box-shadow: -1px 2px 20px 5px rgba(168, 162, 162, 0.94);
}


.card_role{
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}



.show-more{
    display: flex;
    flex-direction: column;   
    width: 100%;
}

.show-more .name-contact{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 55px;
}

.show-more .other-contact{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.show-more p{
    padding-top: 10px  ;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}

.show-more h2{
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 18px;    
}

.show-more select{
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 6px;
    text-transform: uppercase;
}

.card_Contact-link{
    color: #141414;
}

.dialog-btn{
    text-align: center;
    margin-top: 60px;
    padding: 10px;
    background: #141414;
    color: #fff;
    border-radius: 6px;
}

.dialog-btn:hover{
    background: #088178;
    color: #fff;
}

/* test edit */
.dialog {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay-close {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.dialog:target {
    visibility: visible;
    opacity: 1;
}


.overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

.dialog-body {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 70%;
    max-width: calc(100% -32px);
    height: auto;
    min-height: 300px;
    animation: modalFadeIn ease .4s;
    border-radius: 6px;
    position: relative;
    margin-left: 10%;
}

.open{
    display: flex;
}

.dialog-close-btn {
    position: absolute;
    top: 2px;
    right: 6px;
    text-decoration: none;
    color: #333;
    padding: 10px;
}
.dialog-body .header{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a94b4;
    width: 100%;
    line-height: 80px;
    max-height: 80px;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.dialog-body .edit-info{
    margin: 80px 0 0 0;
    padding: 100px;
    border: 1px solid #ccc;
    width: 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dialog-body input{
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ccc;
}

.dialog-body .btn-button{
    padding: 10px;
    width: 100%;
    margin-top: 15px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ccc;
}


.dialog-body .btn-button:hover{
    cursor: pointer;
    background: #088178;
    color: #fff;
}

.view-ds{
    display: flex;
}
.show-more h3{
    padding: 10px ;
}
/* .dialog-view-edit {
    width: 1000px;
    height: 700px;
    position: fixed;
    top: 85px;
    right: 0;
    bottom: 0;
    left: 473px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 0.2s;
    background-color: #f1f1f1;
}


.dialog-view-edit:target{
    visibility: visible;
    opacity: 1;
}

.left-pane {
    width: 300px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.left-pane img {
    max-width: 100%;
    max-height: 100%;
}

.right-pane {
    width: calc(100% - 300px);
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
}

.close-btn {
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
}

.form-group label {
    font-weight: bold;
}

.form-group div {
    margin-top: 5px;
}

.form-group input[type=text] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.form-group button {
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group .cancel-btn {
    background-color: #ff6347;
    color: #ffffff;
    margin-right: 10px;
}

.form-group .save-btn {
    background-color: #008000;
    color: #ffffff;
} */

.chooseFileImg{
    margin-left: 169px;
    margin-bottom: 57px;
    margin-top: -5px;
}