body{
    font-family: 'roboto',sans-serif;
    display: flex;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}
 a.active
{
    background-color: #088178;
    color: #088178;
}



.sidebar{
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all 0.5s ease;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}



#interface{
    
    margin-left: 280px;
    margin-right: 50px;
    width: 100%;
    position: relative;
    line-height: 30px;
}

#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
}

#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}

#interface .navigation .search i{
    margin-right: 14px;
}

#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
}

#interface .navigation .create button{
    font-size: 14px;
    font-weight: 600;
    padding: 12px 30px;
    color: #fff;
    background-color: #2a94b4;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

.available {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    padding: 3px 14px;
    left: 0;
    top: 0;
    margin-top: 16px;
    margin-left: 750px;
}

.available div{
    padding-right: 5px;
}

.vip{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    padding: 3px 14px;
    left: 0;
    top: 0;
    margin-top: 16px;
    margin-left: 1000px;
}

.vip div{
    padding-right: 5px;
}

#interface .navigation .sort{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 16px;
    margin-left: 269px;   
}

#interface .navigation .sort input{
    padding: 9px 6px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}

#interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 16px;
    margin-right: 10px;
}



#interface .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .navigation .profile img{
    
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.board{
    width: 100%;
    margin: 30px 0 30px 30px ;
    overflow: auto;
    background: #f1f1f1;
    border-radius: 8px;
}

.board img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
    margin-top: 9px;
}

.board h5{
    font-weight: 600;
    font-size: 14px;
}

.board p{
    font-weight: 400;
    font-size: 13px;

}

.board{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid#eef0f3;
}

thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #f9fafb;
    text-align: start;
    padding: 15px;
}

tbody tr td{
    padding: 10px 15px;
}

.actives p{
    background: #fc4949;
    padding: 2px 10px;
    display: inline-block;
    color: #2b2b2b;
    border-radius: 40px;
}

.actives-n p{
    background: #a1f29a;
    padding: 2px 10px;
    display: inline-block;
    color: #2b2b2b;
    border-radius: 40px;
}

.edit a{
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}

.note a i{
    font-size: 24px;
    color: rgb(90, 90, 218);
}

.role p{
    font-size: 17px;
}

.total p{
    font-size: 17px;
}

.ubl{
    border-bottom: 1px solid #acbdee;
}
/************************************************/
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container{  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 80%;
    min-height: 70%;
    font-size: 20px;
    animation: modalFadeIn ease .4s;
}

.col-50{
    width: 50%;
    flex: 1; 
}


.contact-info{
    color: #065e79;
    max-width: 500px;
    line-height: 50px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}

.contact-form{
    max-width: 700px;
    height: 100%;
    margin-right: 50px;
}

.contact-form h2{
    text-align: center;
    color: #065e79;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 35px;
}


.contact-form .text-box{
    background-color: #065e79;
    color: #fff;
    border: none;
    width: calc(45% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 00.1);
    margin-bottom: 30px;
    opacity: 0.9;
}

.contact-form .text-box:first-child{
    margin-right: 15px;
}

.contact-form textarea{
    background-color: #065e79;
    color: #fff;
    border: none;
    width: 93.5%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn{
    float: left;
    background: #2e94e3;
    color: #fff;
    border: none;
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.contact-form .send-btn:hover{
    opacity: 0.8;
}

.modal-containere {  
    background-color: #fff;
    width: 60%;
    max-width: calc(100% -32px);
    min-height: 300px;
    animation: modalFadeIn ease .4s;
}

.modal-containere .header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a94b4;
    width: 100%;
    line-height: 80px;
    max-height: 80px;
    color: #fff;
    font-size: 20px;
}

.modal-containere .contente {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
    height: 100px;
    position: relative;
    font-size: 18px;
}

.modal-containere .contente p{
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 16px;
}

.modal-containere .btns{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.modal-containere .btns button{
    align-items: center;
    margin: 0 10px;
    font-size: 14px;    
    border: none;
    color: #1d1b1b;
    border-radius: 7px;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
}

.open{
    display: flex;
}

.img-modal{      
    width: 30%;
    height: 60%;
    padding: 20px;
}

.info-modal{
    padding: 20px;
}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/*---------------------*/
.pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.pagination button {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	font-size: 16px;
	margin: 0 5px;
	padding: 5px 10px;
	cursor: pointer;
}

.pagination button.active {
	background-color: #333;
	color: #fff;
}

  /***************************************/
  #roomDetailDialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  .dialog-content {
    margin-bottom: 10px;
  }
  
  .furniture-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 10px;
  }
  
  .view {
    margin-bottom: 10px;
  }
  
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  