body{
    font-family: 'roboto',sans-serif;
    display: flex;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


ul{
    list-style: none;
}
/* huy bo, bi tu choi */
.deny{
    color: brown;
}

/* dang tiep nhan, dang xu ly */
.progress{
    color: rgb(255, 217, 0);
}
/*da hoan thanh */
.accept{
    color: #2a94b4;
}

a{
    text-decoration: none;
}
 a.active
{
    background-color: #088178;
    color: #088178;
}

.col-lg-8{
    padding: 0 30px;
    flex: 0 0 auto;
    width: 66.67%;
}

.col-lg-4{
    flex: 0 0 auto;
    width: 30%;
}


.sidebar{
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all 0.5s ease;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}



#interface{
    margin-top: 10px;
    margin-left: 280px;
    margin-right: 50px;
    width: 100%;
    position: relative;
    line-height: 30px;
}

#interface .navigation .n1{
    display: flex;
    align-items: center;
}

#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
}

#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
    margin-right: 10px;
}

#interface .navigation .search i{
    margin-right: 14px;
}

#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
}

#interface .navigation .statuss{
    margin: 4px 10px;
}

#interface .navigation .statuss p{
    margin-top: -26px;
    margin-bottom: -12px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

#interface .navigation .statuss .filterStatus{
    margin-top: 10px;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
}

#interface .navigation .statuss .filterStatus-type{
    margin-top: 10px;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
}


#interface .navigation .create button{
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    color: #fff;
    background-color: #2a94b4;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
#interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 25px;
    margin-right: 10px;
}



#interface .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .navigation .profile img{
    
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.board{
    width: 100%;
    margin: 30px 0 30px 30px ;
    overflow: auto;
    background: #f1f1f1;
    border-radius: 8px;
}

.board img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.board h5{
    font-weight: 600;
    font-size: 14px;
}

.board p{
    font-weight: 400;
    font-size: 13px;

}

.board .people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid#eef0f3;
}

thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #f9fafb;
    text-align: start;
    padding: 15px;
}

tbody tr td{
    padding: 10px 15px;
}

.actives p{
    min-width: 35%;
    padding: 5px 10px;
    display: inline-block;
    text-align: center;
    color: #2b2b2b;
    border-radius: 40px;
}



.Rejected{
    background: #e9a14e;
    padding: 2px 10px;
}

.bt1 button{
    font-size: 14px;
    border: none;
    background-color: #66d38e;
    color: #fff;
    border-radius: 7px;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
}

.bt2 button{
    font-size: 14px;
    border: none;
    background-color: #d50e0e;
    color: #fff;
    border-radius: 7px;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
}

.bt3 button{
    font-size: 14px;
    border: none;
    background-color: #b4782b;
    color: #fff;
    border-radius: 7px;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
}

/*------------------------------*/
.pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.pagination button {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	font-size: 16px;
	margin: 0 5px;
	padding: 5px 10px;
	cursor: pointer;
}

.pagination button.active {
	background-color: #333;
	color: #fff;
}
/*--------------------------------*/
#dialog-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
  }
  
  #dialog-box {
    width: 80%;
    height: 730px;
    margin: 5% auto;  
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  #dialog-header {
    position: relative;
    background-color: #2a94b4;
    padding: 50px;
    border-radius: 5px;
  }
  
  #dialog-header h2 {
    margin: 0;
    color: #fff;
    text-align: center;
    
  }
  
  #dialog-close {
    position: absolute;
    border: none;
    background: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    float: right;
    top: 0;
    right: 0;
    margin-right: 12px;
  }
  
  #dialog-content {
    margin-top: 20px;
    font-size: 20px;
    line-height: 60px;
    margin:  30px;
  }
  
  #feedback-box {
    border: 1px solid #111111;
    padding: 10px;
    min-height: 100px;
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 6px;
    width: 100%;
    
  }

  #filterTypeOfStaff{
    width: 8%;
    height: 30px;
    border-radius: 6px;
  }
  
  .filterStaff{
    width: 5%;
    height: 30px;
    border-radius: 6px;
  }
  #dialog-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: -38px;
  }

  
  
  #dialog-buttons button {
    margin-left: 10px;
    width: 8%;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color: #fff;
  }
  
  .cus-img-tic{
    display: flex;
  }

  #dialog-content-staff{
    margin-top: 20px;
    font-size: 20px;
    line-height: 60px;
    margin:  30px;
  }

  #dialog-buttons-staff{
    display: flex;
    justify-content: center;
    margin-top: 68px;
  }

  #dialog-buttons-staff button {
    margin-left: 10px;
    width: 8%;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color: #fff;
  }

  /*--------------------------*/
  
  .image-slider {
    display: flex;
    scroll-behavior: smooth;
  }
  
  .image-slider img {
    margin-right: 10px;
  }
  